# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/

# Build and temp files
*.idsig
*.zip
android_project/build/
android_project/.gradle/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
